@model APIDashboard.Web.UI.Models.DashboardIndexViewModel

@{
    ViewData["Title"] = "Index";
}


<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <p class="lead">"@Model.QuoteContent"</p>
                <h2 style="text-align: center">@Model.QuoteAuthor</h2>
            </div>
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url('@Model.APODImg')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="">
                <h2>@Model.WeatherLocation</h2>
                <img src='@Model.WeatherIcon' />
                <span>@Model.WeatherDescription</span>
                <p class="mb-0">Current Temperature: @Model.CurrentTemp F</p>
            </div>
        </div>
    </div>
</section>
